/* Default styles */
.navbar {
  /* background-color: #ffffff; */
  background: rgba(255, 255, 255, 0);
  padding: 10px; /* Adjust overall padding */
  height: 85px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo img {
  max-width: 160px;
  height: auto;
}

.menu-icon{
  cursor: pointer;
  font-size: 24px;
  color: darkgreen;
  margin-right: 20px;
}


.nav-menu.active {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 80px;
  right: 0;
  background-color: #28D91D;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}



.nav-menu {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-item {
  margin-left: 15px;
  position: relative;
}

.nav-link {
  text-decoration: none;
  color: darkgreen;
  transition: color 0.3s ease;
  font-weight: bold;
}

.nav-link:hover {
  color: red;
}



.enroll-button,
.admin-button {
  padding: 8px 16px;
  background-color: green;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
  max-width: fit-content;
  max-height: fit-content;
}

.enroll-button:hover,
.admin-button:hover {
  background-color: darkgreen;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #ffffff27;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;  
}

.nav-item:hover .dropdown-menu {
  display: block;
}

.dropdown-menu a {
  display: block;
  color: #333333;
  text-decoration: none;
  padding: 8px 12px;
  transition: color 0.3s ease;
  font-weight: bold;
}

.dropdown-menu a:hover {
  color: darkred;
}

.nav-menu.active {
  display: flex;
  flex-direction: column;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .navbar {
    height: auto; /* Change height to auto for responsiveness */
  }

  .menu-icon {
    display: block;
  }
  
  .navbar-logo img {
    max-width: 120px; /* Adjust logo size for smaller screens */
  }
  
  .nav-menu {
    display: none; /* Hide menu items by default on smaller screens */
    position: absolute;
    top: 80px;
    right: 0;
    /* background-color: #28D91D; */
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }

  .nav-menu.mobile-menu-open {
    display: flex;
    flex-direction: column;
  }
  
  .enroll-button,
  .admin-button {
    display: none; /* Hide enroll and admin buttons on smaller screens */
  }
  
  .display-applicants {
    padding: 20px;
    text-align: center;
  }
  
  .applicants-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  legend {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .applicants-list {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
  }
  
  .applicants-list li {
    margin-bottom: 10px;
  }
  
  label {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  input[type="checkbox"] {
    margin-right: 10px;
  }
  
  .body {
    background: linear-gradient(180deg, #28D91D 0%, #9DE6A1 0%);
    align-items: center;
  }
  
  .btn-container {
    background: linear-gradient(180deg, #28D91D 0%, #9DE6A1 0%); 
  }
  
  .button {
    background-color: darkgreen;
    color: #fff;
    border: none;
    border-radius: 50px;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    margin-top: 50px;
    text-decoration: none;
    text-align: center;
    max-width: 160px;
  }
  
    
  .dropdown-menu {
    position: static; 
    display: none; 
  }
  
  .nav-item:hover .dropdown-menu {
    display: none; /* Hide dropdown menu on hover for smaller screens */
  }

}






  